/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    behaviors {
        HMR_R: HMR_R {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 14 28 29 15 1 2 16 30 3 4 5 6 17 18 19 20 31 32 33 40 41 42 43 44 45>;
            hold-trigger-on-release;
            require-prior-idle-ms = <265>;
        };

        HRM_L: HRM_L {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <7 8 9 10 11 12 13 21 22 23 24 25 26 27 34 35 36 37 38 39 43 44 45 40 41 42>;
            flavor = "balanced";
            require-prior-idle-ms = <265>;
        };
    };

    combos {
        compatible = "zmk,combos";

        capsword {
            bindings = <&caps_word>;
            key-positions = <26 15>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q                &kp W              &kp E              &kp R                  &kp T        &none  &none  &kp Y        &kp U                   &kp I               &kp O               &kp P               &kp BSPC
&kp LCTRL  &HRM_L LEFT_SHIFT A  &HRM_L LEFT_ALT S  &HRM_L LEFT_GUI D  &HRM_L LEFT_CONTROL F  &kp G        &none  &none  &kp H        &HMR_R RIGHT_CONTROL J  &HMR_R RIGHT_GUI K  &HMR_R RIGHT_ALT L  &HMR_R RSHIFT SEMI  &none
&kp LSHFT  &kp Z                &kp X              &kp C              &kp V                  &kp B                      &kp N        &kp M                   &kp COMMA           &kp DOT             &kp FSLH            &none
                                                   &kp ESCAPE         &mt LEFT_SHIFT TAB     &lt 1 SPACE                &lt 3 ENTER  &lt 2 BACKSPACE         &kp RALT
            >;
        };

        num_nav {
            display-name = "EXTRA 1";
            bindings = <
&trans  &kp ESC   &none     &kp UP_ARROW  &none      &none          &bootloader     &sys_reset  &kp DELETE       &kp N7              &kp N8                  &kp N9             &kp BACKSPACE           &trans
&trans  &kp HOME  &kp LEFT  &kp DOWN      &kp RIGHT  &kp PAGE_UP    &studio_unlock  &bt BT_CLR  &kp KP_DIVIDE    &HMR_R RCTRL KP_N4  &HMR_R RIGHT_GUI KP_N5  &HMR_R RALT KP_N6  &HMR_R RSHIFT KP_MINUS  &trans
&trans  &kp END   &trans    &trans        &trans     &kp PAGE_DOWN                              &kp KP_ASTERISK  &kp N1              &kp N2                  &kp N3             &kp KP_PLUS             &trans
                            &trans        &trans     &trans                                     &kp RET          &kp N0              &kp KP_DOT
            >;
        };

        symb {
            display-name = "EXTRA 2";
            bindings = <
&trans  &kp CARET                 &kp LT                            &kp GREATER_THAN                   &kp DLLR                         &kp PERCENT  &bt BT_SEL 0  &bt BT_SEL 2  &kp AT    &kp AMPS                   &kp STAR                &kp APOSTROPHE          &kp GRAVE          &trans
&trans  &HRM_L RSHIFT LEFT_BRACE  &HRM_L LEFT_ALT LEFT_PARENTHESIS  &HRM_L LEFT_GUI RIGHT_PARENTHESIS  &HRM_L LEFT_CONTROL RIGHT_BRACE  &kp EQUAL    &bt BT_SEL 1  &bt BT_SEL 3  &kp BSLH  &HMR_R RIGHT_CONTROL PLUS  &HMR_R RIGHT_GUI MINUS  &HMR_R RIGHT_ALT SLASH  &HMR_R RSHIFT DQT  &trans
&trans  &kp TILDE                 &kp LBKT                          &kp RBKT                           &kp UNDER                        &kp POUND                                &kp PIPE  &kp EXCL                   &kp SEMI                &kp COLON               &kp QUESTION       &trans
                                                                    &trans                             &trans                           &trans                                   &trans    &trans                     &trans
            >;
        };

        num_func {
            display-name = "EXTRA 3";
            bindings = <
&trans  &kp F1                  &kp F2              &kp F3          &kp F4                  &kp F5           &kp F13  &kp F15  &kp F6         &kp F7                   &kp F8             &kp F9          &kp F10           &trans
&trans  &HRM_L LSHIFT NUMBER_1  &HRM_L N2 LEFT_ALT  &HRM_L N3 LGUI  &HRM_L N4 LEFT_CONTROL  &kp N5           &kp F14  &kp F16  &kp N6         &HMR_R N7 RIGHT_CONTROL  &HMR_R N8 RGUI     &HMR_R N9 RALT  &HMR_R RSHIFT N0  &trans
&trans  &kp INS                 &none               &none           &none                   &kp PRINTSCREEN                    &kp C_AC_ZOOM  &kp C_AC_ZOOM_IN         &kp C_AC_ZOOM_OUT  &none           &none             &trans
                                                    &trans          &mt RSHIFT DEL          &trans                             &trans         &trans                   &trans
            >;
        };
    };
};
